@import "tailwindcss";


body {
    background-color: #2e2e2e;
    color: white;
    overflow: hidden;
}

textarea:focus {
    outline: none;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}